.counterContainer{
  text-align: center;
  font-family: arial,sans-serif;
}
.countDisplay{
  font-size: 5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 50px;
}

.counterBtn{
  width: 150px;
  height: 50px;
  font-size: 1.5;
  font-weight: bold;
  margin:0px 5px;
  background-color: hsl(160, 100%, 75%);
  border: none;
  border-radius: 20px;
}
.counterBtn:hover{
  cursor: pointer;
  background-color: hsl(160, 100%, 55%);
}